<!-- Tile Scores -->
<div id="section-tile-scores" class="pb-2">
  <div class="flex items-center justify-between mb-4">
    <h2 id="tile-scores-heading" class="font-semibold text-white">Scrabble Tile Scores</h2>
  </div>
  <div id="tile-score-encouragement" class="mb-4 mt-[10px] text-center">
    <p class="text-sm text-gray-500 italic">Solve a word to see your Tile Scores</p>
  </div>
  <div class="grid grid-cols-9 gap-1.5 justify-items-center" id="tile-scores"></div>
</div>
